<div class="selQueryHistCard cardContainer sqlQueryHist" data-mixpanel-id="selQueryHistCard">
    <header class="cardHeader">
        <!-- <label>SQL History</label> -->
        <span class="selDeleteQueryHist delete right xc-iconWrap-action action" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="Delete SQL History">
            <i class="icon xi-trash"></i>
        </span>
        <span class="selCancelQueryHist cancel right xc-iconWrap-action action" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="Cancel SQL in execution">
            <i class="icon xi-forbid"></i>
        </span>
        <span class="selRefreshQueryHist refresh refresh-queryHist right xc-iconWrap-action action" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="Refresh">
            <i class="icon xi-refresh"></i>
        </span>
        <div class="searchbarArea">
            <input class="selSearch" placeholder="<%= dicts.SQL.SearchByQuery %>" spellcheck="false" autocomplete="off"/>
            <i class="icon xi-search"></i>
        </div>
    </header>
    <div class="cardMain"></div>
</div>