<!-- Cluster Status Modal -->
<div id="clusterStatusModal" class="modalContainer">
    <!-- Header -->
    <header class="modalHeader has-subHeader">
      <span class="text">Cluster Status</span>
      <div class="headerBtn exitFullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.common.Minimize %>">
        <i class="icon xi-exit-fullscreen"></i>
      </div>
      <div class="headerBtn fullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.common.Maximize %>">
        <i class="icon xi-fullscreen"></i>
      </div>
      <div class="close" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.supportTicket.CloseForm %>" >
        <i class="icon xi-close"></i>
      </div>
      <div class="subHeader instr"></div>
    </header>
    <!-- Main Section -->
    <section class="modalMain">
      <div class="content"></div>
    </section>
    <!-- Button Section -->
    <section class="modalBottom">
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.Cancel %></button>
    </section>
  </div>
  <!-- End of Cluster Status Modal -->
  