<div id="dagCustomRenameModal" class="modalContainer">
    <!-- Header -->
    <header class="modalHeader has-subHeader">
        <span class="text">Edit Name</span>
        <div class="close" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>">
            <i class="icon xi-close"></i>
        </div>
        <div class="subHeader">Rename the operator</div>
    </header>
    <!-- Main Section -->
    <section class="modalMain">
        <div class="formRow">
            <input class="selName xc-input white" type="text" spellcheck="false" autocomplete="off"/>
        </div>
    </section>
    <!-- Button Section -->
    <section class="modalBottom">
        <button type="button" class="btn confirm selSave"><%= dicts.common.Save %></button>
        <button type="button" class="btn cancel"><%= dicts.common.Cancel %></button>
    </section>
</div>