
<div id="dagStatsModal" class="modalContainer">
<!-- Header -->
<header class="modalHeader">
    <span class="text">Node stats</span>
    <div class="headerBtn exitFullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Minimize %>">
    <i class="icon xi-exit-fullscreen"></i>
    </div>
    <div class="headerBtn fullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Maximize %>">
    <i class="icon xi-fullscreen"></i>
    </div>
    <div class="close" data-container="body" data-toggle="tooltip" title="" data-original-title="<%= dicts.common.Close %>">
    <i class="icon xi-close"></i>
    </div>
</header>
<!-- Main Section -->
<section class="modalMain">
    <!-- <svg class="chart"></svg>
     -->
     <div id="dagStatsModalChart"></div>
     <div class="statsDisplay">
     </div>
</section>
</div>
