<!-- Json Modal -->
<div id="jsonModal" class="modalContainer large">
  <header class="jsonDragArea modalHeader">
    <span class="text"><%= dicts.jsonModal.header %></span>
    <!-- <span class="hint csHelp" data-topic="dataBrowserContents" title="" data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.TooltipTStr.CSHelp %>">
      <i class="icon xi-help fa-12"></i>
    </span> -->
    <div class="headerBtn exitFullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Minimize %>">
      <i class="icon xi-exit-fullscreen"></i>
    </div>
    <div class="headerBtn fullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Maximize %>">
      <i class="icon xi-fullscreen"></i>
    </div>
    <div class="closeJsonModal" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <div id="jsonSearchWrap" class="slidingSearchWrap">
    <div id="jsonSearch" class="searchbarArea closed">
      <i class="icon searchIcon xi-search"></i>
      <input type="text" spellcheck="false" autocomplete="off">
      <div class="closeBox iconWrap">
        <i class="icon xi-cancel"></i>
      </div>
      <div class="counter">
        <span class="position"></span>
        <span class="total"></span>
      </div>
      <div class="arrows">
        <div class="upArrow iconWrap">
          <i class="icon xi-up"></i>
        </div>
        <div class="downArrow iconWrap">
          <i class="icon xi-down"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="jsonArea"></div>
</div>
<!-- End Of Join Modal -->