<!-- SQL Query History Modal -->
<div id="sqlQueryHistModal" class="modalContainer">
    <!-- Header -->
    <header class="modalHeader">
        <span class="text"><%= dicts.SQL.queryHistSQLModalTitle %></span>
        <div class="close" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>">
            <i class="icon xi-close"></i>
        </div>
    </header>
    <div class="modalMain content" data-xcid="content"></div>
    <div class="modalBottom">
        <button type="button" class="btn cancel"><%= dicts.common.Cancel %></button>
    </div>
</div>
<!-- End of SQL Query History Modal -->
