<div id="sqlTableSchemaArea" class="noBottom">
  <div class="topSection sectionBar">
    <span class="actionArea">
      <button class="btn btn-secondary iconBtn back"
      data-toggle="tooltip"
      data-placement="auto top"
      data-container="body"
      data-original-title="<%= dicts.SQL.SchemaBack %>">
        <i class="icon xi-arrowtail-left"></i>
        Back
      </button>
    </span>
    <span class="label">Schema of Table</span>
    <span class="name"></span>
    <span class="searchbarArea">
      <input type="text" spellcheck="false" autocomplete="off" placeholder="<%= dicts.SQL.SearchByName %>">
      <i class="icon xi-search"></i>
    </span>
  </div>
  <div class="mainSection xc-gridList"></div>
</div>