<div id="sqlViewContainer" class="xc-tabViewContainer">
    <div class="draggableHeader"></div>
    <div class="tabBar xc-tabs">
      <div id="sqlTabView" class="tabView">
        <div class="tabsSection">
          <ul></ul>
          <div class="scrollArea top">
            <i class="arrow icon xi-arrow-left"></i>
          </div>
          <div class="scrollArea bottom">
            <i class="arrow icon xi-arrow-right"></i>
          </div>
        </div>
        <div class="addTab" data-toggle="tooltip" data-container="body" data-placement="auto top" data-title="<%= dicts.resouceMenu.AddSQL %>">
          <i class="icon xi-plus"></i>
        </div>
      </div>
    </div>
    include "sqlEditorSpace.html"
</div>