<div id="homeScreen" class="mainPanel mainScreen">
  <div class="topBar"></div>
  <div class="contentSection">
    <div id="loadScreenBtn" class="box" data-id="load">
      <div class="image">
        <i class="icon xi-home-card-load"></i>
      </div>
      <div class="text">Connect & Load</div>
      <div class="detail">
        Connect to a data target, browse data in S3, edit file schemas and create tables
      </div>
    </div>
    <div id="notebookScreenBtn" class="box" data-id="notebook">
      <div class="image">
        <i class="icon xi-home-card-notebook"></i>
      </div>
      <div class="text">Notebook</div>
      <div class="detail">
        Explore data with SQL and Python, create custom table functions and build data apps
      </div>
    </div>
    <div data-id="connect" class="box enterprise xc-hidden">
      <div class="hint">AVAILABLE IN ENTERPRISE</div>
      <div class="image">
        <i class="icon xi-home-card-connect"></i>
      </div>
      <div class="text">Connect</div>
      <div class="detail">
        Connect to multiple data sources
      </div>
    </div>
    <div data-id="schedule" class="box enterprise  xc-hidden">
      <div class="hint">AVAILABLE IN ENTERPRISE</div>
      <div class="image">
        <i class="icon xi-home-card-schedule"></i>
      </div>
      <div class="text">Schedule</div>
      <div class="detail">
        Schedule data apps and manage your production environment
      </div>
    </div>
  </div>
</div>