<link href='3rd/fonts/sourcecodepro/sourcecodepro.css' rel='stylesheet' type='text/css'>
<link href='3rd/fonts/opensans/opensans.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/lib/codemirror.css">
<!-- <link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/rubyblue.css"> -->
<!-- <link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/xcalar-light.css"> -->
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/xcalar-dark.css">
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/3024-night.css">
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/ayu-dark.css">
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/erlang-dark.css">
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/theme/midnight.css">
<link href="assets/stylesheets/css/style.css" rel="stylesheet" type="text/css">
<script src="3rd/bower_components/jquery/dist/jquery.min.js"></script>
<script src="assets/js/shared/setup/paths.js" type="text/javascript"></script>