<div id="loadScreen" class="mainPanel mainScreen xc-hidden">
  <div class="topBar">Load</div>
  <!-- contentSection -->
  <section class="contentSection">
    <div class="tabSection">
      <ul class="sourceList">
        <li data-tab="loadWizard">S3 Load Wizard</li>
        <li data-tab="connector">Setup Connectors</li>
        <li data-tab="import">Load with connectors</li>
        <li data-tab="loadHistory">Load History</li>
      </ul>
    </div>
    <div class="panelSection">
      include "datastore/datastore.html"
    </div>
  </section>
</div>