<link href='../../3rd/fonts/raleway/raleway.css' rel='stylesheet' type='text/css'>
<link href='../../3rd/fonts/opensans/opensans.css' rel='stylesheet' type='text/css'>
<link href="../stylesheets/css/login.css" rel="stylesheet" type="text/css">
<!-- <script src="../../3rd/createjs-2015.11.26.min.js" type="text/javascript"></script> -->
<script src="../../3rd/createjs.min.js" type="text/javascript"></script>
<script src="../js/login/loginAnim.js" type="text/javascript"></script>
<!-- browserChecks.js must run before scripts in partials/loginPart.html -->
<script src="../js/login/browserChecks.js" type="text/javascript"></script>

