<script src="assets/test/unitTest/setupSpec.js"></script>
<script src="assets/test/unitTest/testSpec.js"></script>
<script src="assets/test/unitTest/parser/XDParserSpec.js"></script>
<script src="assets/test/unitTest/constructor/ephConstructorSpec.js"></script>
<script src="assets/test/unitTest/durable/DurableSpec.js"></script>
<script src="assets/test/unitTest/durable/table/TableMetaSpec.js"></script>
<script src="assets/test/unitTest/durable/table/ProgColSpec.js"></script>
<script src="assets/test/unitTest/durable/table/ColFuncSpec.js"></script>
<script src="assets/test/unitTest/durable/MetaInfoSpec.js"></script>
<script src="assets/test/unitTest/durable/UserInfoSpec.js"></script>
<script src="assets/test/unitTest/durable/XcLogSpec.js"></script>
<script src="assets/test/unitTest/durable/GenSettingsSpec.js"></script>
<script src="assets/test/unitTest/durable/UserPrefSpec.js"></script>
<script src="assets/test/unitTest/durable/WKBKSpec.js"></script>
<script src="assets/test/unitTest/durable/ProfileInfoSpec.js"></script>
<script src="assets/test/unitTest/durable/DSObjSpec.js"></script>
<script src="assets/test/unitTest/durable/XcQuerySpec.js"></script>
<script src="assets/test/unitTest/durable/KVVersionSpec.js"></script>
<script src="assets/test/unitTest/setup/xcManagerSpec.js"></script>
<script src="assets/test/unitTest/setup/userMenuSpec.js"></script>
<script src="assets/test/unitTest/setup/xvmSpec.js"></script>
<script src="assets/test/unitTest/setup/CloudManagerSpec.js"></script>
<script src="assets/test/unitTest/cloudLoginSpec.js"></script>
<script src="assets/test/unitTest/authenticationSpec.js"></script>
<script src="assets/test/unitTest/util/xcSupportSpec.js"></script>
<script src="assets/test/unitTest/system/fileManager/UDFFileManagerSpec.js"></script>
<script src="assets/test/unitTest/system/admin/adminSpec.js"></script>
<script src="assets/test/unitTest/system/admin/monitorConfigSpec.js"></script>
<script src="assets/test/unitTest/system/admin/adminAlertCardSpec.js"></script>
<script src="assets/test/unitTest/system/admin/monitorLogSpec.js"></script>
<script src="assets/test/unitTest/system/statsObj/StatsObjMemSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/system/statsObj/StatsObjSwapSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/system/statsObj/StatsObjCPUSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/system/statsObj/StatsObjNetworkSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/system/operations/XcQueryLogSpec.js"></script>
<script src="assets/test/unitTest/system/userSettingsSpec.js"></script>
<script src="assets/test/unitTest/system/monitor/monitorPanelSpec.js"></script>
<script src="assets/test/unitTest/system/monitor/MonitorDonutsSpec.js"></script>
<script src="assets/test/unitTest/system/monitor/monitorGraphSpec.js"></script>
<script src="assets/test/unitTest/system/memoryAlertSpec.js"></script>
<script src="assets/test/unitTest/viewer/XcViewerSpec.js"></script>
<script src="assets/test/unitTest/viewer/XcDatasetViewerSpec.js"></script>
<script src="assets/test/unitTest/dag/DagDragSpec.js"></script>
<script src="assets/test/unitTest/dag/DagPanelSpec.js"></script>
<script src="assets/test/unitTest/dag/DagViewSpec.js"></script>
<script src="assets/test/unitTest/dag/DagUtilSpec.js"></script>
<script src="assets/test/unitTest/dag/DagParamManagerSpec.js"></script>
<script src="assets/test/unitTest/dag/DagCommentSpec.js"></script>
<script src="assets/test/unitTest/dag/DagParamPopupSpec.js"></script>
<script src="assets/test/unitTest/dag/DagNodeMenuSpec.js"></script>
<script src="assets/test/unitTest/dag/DagNodeInfoPanelSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabSQLSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabUserSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTblManagerSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabOptimizedSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabPublishedSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabCustomSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeAggregateSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeDatasetSpec.js"></script>
<script src="assets/test/unitTest/dag/nodeInput/DagNodeDatasetInputSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeIndexSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeDeskewSpec.js"></script>
<script src="assets/test/unitTest/dag/nodeInput/DagNodeDeskewInputSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeDFInSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeDFOutSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeExportSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodePublishIMDSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeFilterSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeGroupBySpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeIMDTableSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeInSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeJoinSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeMapSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSortSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeOptimizableSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeRoundSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSplitSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSQLSubInputSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSQLSubOutputSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeExplodeSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeRowNumSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeOutSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodePlaceholderSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeProjectSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeCustomInputSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeCustomOutputSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeCustomSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSetSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSynthesizeSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSQLSpec.js"></script>
<script src="assets/test/unitTest/dag/node/CommentNodeSpec.js"></script>
<script src="assets/test/unitTest/dag/node/DagNodeSpec.js"></script>
<script src="assets/test/unitTest/dag/DagNodeFactorySpec.js"></script>
<script src="assets/test/unitTest/dag/DagGraphSpec.js"></script>
<script src="assets/test/unitTest/dag/DagGraphExecutorSpec.js"></script>
<script src="assets/test/unitTest/dag/DagSubGraphSpec.js"></script>
<script src="assets/test/unitTest/dag/DagLineageSpec.js"></script>
<script src="assets/test/unitTest/dag/DagListSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTabManagerSpec.js"></script>
<script src="assets/test/unitTest/dag/DagNodeExecutorSpec.js"></script>
<script src="assets/test/unitTest/dag/DagTableSpec.js"></script>
<script src="assets/test/unitTest/dag/DagDescriptionModalSpec.js"></script>
<script src="assets/test/unitTest/dag/DagUDFErrorModalSpec.js"></script>
<script src="assets/test/unitTest/dag/DagSchemaPopupSpec.js"></script>
<script src="assets/test/unitTest/dag/DagCategoryNodeSpec.js"></script>
<script src="assets/test/unitTest/dag/DagAggManagerSpec.js"></script>
<script src="assets/test/unitTest/dag/DagCategoriesSpec.js"></script>
<script src="assets/test/unitTest/dag/DagCategoryBarSpec.js"></script>
<script src="assets/test/unitTest/dag/DagGraphBarSpec.js"></script>
<script src="assets/test/unitTest/dag/search/DagSearchEntrySpec.js"></script>
<script src="assets/test/unitTest/dag/search/DagSearchModelSpec.js"></script>
<script src="assets/test/unitTest/dag/search/DagSearchSpec.js"></script>
<script src="assets/test/unitTest/util/xcHelperSpec.js"></script>
<script src="assets/test/unitTest/util/xcStringHelperSpec.js"></script>
<script src="assets/test/unitTest/util/xcUIHelperSpec.js"></script>
<script src="assets/test/unitTest/util/xcTimeHelperSpec.js"></script>
<script src="assets/test/unitTest/util/xcTooltipSpec.js"></script>
<script src="assets/test/unitTest/util/xcAssertSpec.js"></script>
<script src="assets/test/unitTest/util/promiseHelperSpec.js"></script>
<script src="assets/test/unitTest/util/xcSocketSpec.js"></script>
<script src="assets/test/unitTest/util/xcUserSpec.js"></script>
<script src="assets/test/unitTest/util/xcMenuSpec.js"></script>
<script src="assets/test/unitTest/util/adminToolsSpec.js"></script>
<script src="assets/test/unitTest/util/xcalarThriftSpec.js"></script>
<script src="assets/test/unitTest/util/repeatSpec.js"></script>
<script src="assets/test/unitTest/util/concurrencySpec.js"></script>
<script src="assets/test/unitTest/util/xcFunctionSpec.js"></script>
<script src="assets/test/unitTest/util/dragDropUploaderSpec.js"></script>
<script src="assets/test/unitTest/util/transactionSpec.js"></script>
<script src="assets/test/unitTest/util/listScrollerSpec.js"></script>
<script src="assets/test/unitTest/util/XcUIDSpec.js"></script>
<script src="assets/test/unitTest/util/XcEventSpec.js"></script>
<script src="assets/test/unitTest/api/xiApiSpec.js"></script>
<script src="assets/test/unitTest/suggest/xcSuggestSpec.js"></script>
<script src="assets/test/unitTest/suggest/skRFPredictorSpec.js"></script>
<script src="assets/test/unitTest/publishedTable/PTblManagerSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/publishedTable/PbTblInfoSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/publishedTable/PTblSchemaSpec.js" type="text/javascript"></script>
<script src="assets/test/unitTest/sql/createPublishTableModalSpec.js"></script>
<script src="assets/test/unitTest/sql/exportSQLTableModalSpec.js"></script>
<script src="assets/test/unitTest/sql/sqlQueryHistoryPanelSpec.js"></script>
<script src="assets/test/unitTest/sql/sqlQueryHistorySpec.js"></script>
<script src="assets/test/unitTest/sql/workspace/SQLWorkSpaceSpec.js"></script>
<script src="assets/test/unitTest/sql/workspace/SQLHistorySpaceSpec.js"></script>
<script src="assets/test/unitTest/sql/workspace/SQLResultSpaceSpec.js"></script>
<script src="assets/test/unitTest/sql/workspace/SQLTableSpec.js"></script>
<script src="assets/test/unitTest/sql/AbstractSQLResultViewSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLSnippetSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLTableListerSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLUtilSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLEditorSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLDagExecutorSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLTableSchemaSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLEditorSpaceSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLCompilerSpec.js"></script>
<script src="assets/test/unitTest/sql/SQLSimulatorSpec.js"></script>
<script src="assets/test/unitTest/sql/optimizer/logicalOptimizerSpec.js"></script>
<script src="assets/test/unitTest/workbook/workbookManagerSpec.js"></script>
<script src="assets/test/unitTest/workbook/workbookPanelSpec.js"></script>
<script src="assets/test/unitTest/menuBar/mainMenuSpec.js"></script>

<script src="assets/test/unitTest/modals/alertSpec.js"></script>
<script src="assets/test/unitTest/modals/AboutModalSpec.js"></script>
<script src="assets/test/unitTest/modals/FileInfoModalSpec.js"></script>
<script src="assets/test/unitTest/modals/deleteTableModalSpec.js"></script>
<script src="assets/test/unitTest/modals/supTicketModalSpec.js"></script>
<script src="assets/test/unitTest/modals/licenseModalSpec.js"></script>
<script src="assets/test/unitTest/modals/SkewInfoModalSpec.js"></script>
<script src="assets/test/unitTest/modals/workbookInfoModalSpec.js"></script>
<script src="assets/test/unitTest/modals/loginConfigModalSpec.js"></script>
<script src="assets/test/unitTest/modals/DFUploadModalSpec.js"></script>
<script src="assets/test/unitTest/modals/SchemaSelectionModalSpec.js"></script>
<script src="assets/test/unitTest/modals/ClusterStatusModalSpec.js"></script>
<script src="assets/test/unitTest/modals/RawFileModalSpec.js"></script>
<script src="assets/test/unitTest/modals/LogoutModalSpec.js"></script>
<script src="assets/test/unitTest/modals/DFNodeLineagePopupSpec.js"></script>

<script src="assets/test/unitTest/menuBar/logSpec.js"></script>
<script src="assets/test/unitTest/menuBar/UDFPanelSpec.js"></script>
<script src="assets/test/unitTest/dataSource/DataSourceManagerSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsFormSpec.js"></script>
<script src="assets/test/unitTest/datastore/fileBrowserSpec.js"></script>
<script src="assets/test/unitTest/datastore/CloudFileBrowserSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsConfigSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsTargetManagerSpec.js"></script>
<script src="assets/test/unitTest/table/TableMenuSpec.js"></script>

<script src="assets/test/unitTest/table/RowManagerSpec.js"></script>
<script src="assets/test/unitTest/table/TblManagerSpec.js"></script>
<script src="assets/test/unitTest/table/TblFuncSpec.js"></script>
<script src="assets/test/unitTest/table/RowInputSpec.js"></script>
<script src="assets/test/unitTest/worksheet/colManagerSpec.js"></script>
<script src="assets/test/unitTest/worksheet/tblAnimSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/AbstractCharBuilderSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/BarChartBuilderSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/PieChartBuilderSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/profileChartSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/profileSelectorSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/profileEngineSpec.js"></script>
<script src="assets/test/unitTest/modals/profile/profileSpec.js"></script>
<script src="assets/test/unitTest/modals/aggModalSpec.js"></script>
<script src="assets/test/unitTest/worksheet/jsonModalSpec.js"></script>
<script src="assets/test/unitTest/worksheet/CastOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/SortOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/SortOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/datasetOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/DatasetColRenamePanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/ColAssignmentViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/GeneralOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/GeneralOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/FilterOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/FilterOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/MapOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/MapOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/AggOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/AggOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/GroupByOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/GroupByOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/IMDTableOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/JoinOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/JoinOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/JoinOpPanelStep1Spec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/JoinOpPanelStep2Spec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/PublishIMDOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/RoundOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/RoundOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/SetOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/SetOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/SplitOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/SplitOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ExplodeOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ExplodeOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ExportOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ExportOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/RowNumOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/RowNumOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ProjectOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ProjectOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/DFLinkInOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/DFLinkOutOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/DeskewOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/SQLOpPanelModelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/SQLOpPanelSpec.js"></script>
<script src="assets/test/unitTest/worksheet/oppanel/ColSchemaSectionSpec.js"></script>
<script src="assets/js/loadWizard/test.js"></script>
