<!-- unused -->
<div id="dagViewTableArea" class="tableArea xc-hidden xc-viewMode xc-tableArea">
  <div class="tableBar">
    <!-- search area -->
    <div class="searchbarArea">
      <input type="text" placeholder="<%= dicts.common.SeachColumn %>" spellcheck="false" autocomplete="off">
      <i class="icon xi-search"></i>
      <div class="counter">
      <span class="position">1</span>
      <span class="total">of 2</span>
      </div>
      <div class="arrows">
      <div class="upArrow iconWrap">
        <i class="icon xi-up"></i>
       </div>
      <div class="downArrow iconWrap">
        <i class="icon xi-down"></i>
      </div>
      </div>
    </div>
    <!-- end of search area -->
    <div class="tableNameArea">
      <div class="label">Viewing&nbsp;</div>
      <div class="type"></div>
      <div class="name"></div>
    </div>
    <div class="skewInfoArea"></div>
    <div class="rowInputArea"></div>
    <div class="menuArea">
      <div class="tableMenu option xc-action">
      <span class="text"><%= dicts.common.TableMenu %></span>
      <i class="icon xi-arrow-down"></i>
      </div>
    </div>
    <div class="close xc-action">
      <i class="icon xi-close-no-circle"></i>
    </div>
  </div>
  <div class="errorSection xc-errorView"></div>
  <div class="loadingSection xc-loadView"></div>
</div>