<!-- Tooltip Modal -->
<div id="tooltipModal" class="modalContainer xc-viewMode">
    <header class="modalHeader">
      <span class="text"><%= dicts.workbook.walkthroughs %></span>
      <div class="close" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>">
        <i class="icon xi-close"></i>
      </div>
    </header>
    <!-- modalMain -->
    <section class="modalMain">
    </section>
  </div>
  <!-- End of Tooltip Modal -->
