<section id="aggOpPanel" class="xc-hidden opPanel generalOpPanel">
        <header>
            <div class="row">
                <div class="title"><%= dicts.opsView.aggregate %></div>
                <div class="subTitle"></div>
            </div>
            <i class="close icon xi-close" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
        </header>
        <div class="mainContent">
          <div class="aggregate opSection">
            <p class="mainInstructions instrText"><%= dicts.opsView.aggInstr %></p>
            <div class="group aggregateGroup firstGroup">
              <div class="catFuncHeadings clearfix subHeading">
                <div class="filterFnTitle"><%= dicts.opsView.aggFunc %>:
                  <i class="qMark icon xi-unknown"
                    data-toggle="tooltip"
                    data-container="body"
                    data-placement="auto top"
                    data-title="A predefined formula that performs calculations on column values.">
                  </i>
                </div>
                <div class="altFnTitle"><%= dicts.opsView.noFunc %></div>
              </div>
              <div class="dropDownList firstList functionsList" data-fnlistnum="0">
                <input class="text inputable autocomplete functionsInput" data-fninputnum="0" tabindex="10" spellcheck="false" autocomplete="off">
                <div class="iconWrapper dropdown">
                  <i class="icon xi-arrow-down"></i>
                </div>
                <div class="list genFunctionsMenu">
                  <ul data-fnmenunum="0"></ul>
                  include "../../util/menuScrollArea.html"
                </div>
              </div>
              <div class="descriptionText"></div>
              <div class="argsSection inactive"></div>
            </div>
          </div>
          include "opPanelAdvancedSection.html"
          include "opPanelBottomSection.html"
        </div>
      </section>
