<section class="columnAssignmentSection">
    <!-- list part -->
    <div class="tableSection">
        <div class="header clearfix">
            <span class="text"><%= dicts.SetOpPanel.ColumnTitle %>:
              <i class="qMark icon xi-unknown"
              data-toggle="tooltip"
              data-container="body"
              data-placement="auto top"
              data-title="Columns whose data is used by the Set operator.">
            </i>
            </span>
        </div>
        <div class="listSection"></div>
    </div>
    <!-- result part -->
    <div class="resultSection">
        <div class="listSection"></div>
    </div>
    <!-- drop part -->
    <div class="candidateSection">
        <div class="actionSection"></div>

        <div class="listSection">
        <div class="lists"></div>
        </div>
    </div>
</section>