<div id="configNodeContainer">
    <i class="icon xc-icon-action undock xi_popout" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="Undock"></i>
    include "aggOpPanel.html"
    include "castOpPanel.html"
    include "datasetOpPanel.html"
    include "dfLinkInOpPanel.html"
    include "dfLinkOutOpPanel.html"
    include "exportOpPanel.html"
    include "filterOpPanel.html"
    include "groupByOpPanel.html"
    include "IMDTableOpPanel.html"
    include "joinOpPanel.html"
    include "mapOpPanel.html"
    include "projectOpPanel.html"
    include "explodeOpPanel.html"
    include "publishIMDOpPanel.html"
    include "roundOpPanel.html"
    include "rownumOpPanel.html"
    include "setOpPanel.html"
    include "splitOpPanel.html"
    include "SQLOpPanel.html"
    include "sortOpPanel.html"
    include "sqlFuncInOpPanel.html"
    include "synthesizeOpPanel.html"
    include "deskewOpPanel.html"
</div>