<!-- Cast Op Panel -->
<section id="synthesizeOpPanel" class="xc-hidden opPanel">
  <!-- Header -->
  <header class="headerSection">
    <div class="row">
        <div class="title"><%= dicts.SynthesizeOp.title  %></div>
        <div class="subTitle"></div>
    </div>
    <i class="close icon xi-close" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
  </header>
  <!-- content -->
  <div class="mainContent">
    <div class="opSection">
      <p class="mainInstructions instrText"><%= dicts.SynthesizeOp.instr  %></p>
      include "opPanelAdvancedSection.html"
      include "opPanelBottomSection.html"
    </div>
  </div>
</section>
<!-- End Of Cast Op Panel -->
